  
  #bg{
    height:860px;
    width:100%;
    align-content: center;
   }

   .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
   }

   #main{
    transition: 0.4s;
   }

   .con{
     display: flex;
   }

   h4{
    font-size: 2em; /* 40px/16=2.5em */
    color:white;
    font-weight: bold;
    font-family: "Microsoft Yahei";
  }

.ud{
    font-size: 16px; /* 40px/16=2.5em */
    color:white;
    font-weight: bold;
    text-decoration: underline;
    font-family: "Microsoft Yahei";

    /* font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif; */
}

