

#frame{
    position: relative;
    left:480px;
    top:20px;
    width:600px;
    color:white;
}

h4{
    font-size: 2em; /* 40px/16=2.5em */
    color:white;
    font-weight: bold;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
  }


