

#frame{
    position: relative;
    right:10%;
    top:20%;
    width:40%;
    color:white;
}

h4{
    font-size: 2em; /* 40px/16=2.5em */
    color:white;
    font-weight: bold;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
  }


